.display_tabs{

    background-color : #010914;
    margin-top : 15px;

}
.display_flex1{
    display : flex;
    flex-direction : row;
}

.main_container{
display : flex;
flex-direction: row;
}


/*style drop down list*/
/*style drop down list*/
.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: #000000;
  color: white;
}

.Select-control {
  border: 0.5px solid white;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}

/* style the scroll bar*/
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

::-webkit-scrollbar-track {
  background-color: #303030 !important;
  display: block !important;
}

::-webkit-scrollbar-thumb {
  background-color: #606060;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}



.card_data_outside{
display : flex;
flex-direction : column;
margin: 4%;
width : 50%;
height : auto;
min-height : 528px;
border-style:solid;
border-radius: 5px;
padding: 20px;
background-color : #303030;
border-width: thin;
justify-content:center;

}


.card_data_inside{
    border-style:solid;
    border-radius: 5px;
    padding: 20px;
    background-color : #282828;
    height : auto;
    min-height : 500px;

    border-width: thin;
    display : flex;
    flex-wrap: wrap;

}

/*
.title_card{
align-items : center;
text-align: center
}
.value_card{
align-items : center;
text-align: center
}
.month_card{
align-items : center;
text-align: center
}
*/
.card_class{

align-items : center;
text-align: center;
height : 16vh;

}


.download{
margin-left : 3%;
margin-top : 0.5%;

}

